*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
}
body{
    background:#e6e6e6;
}
/*Inicio de sesion*/
.contenedor{
    display: flex;
    height: 100%;
}
.fondo{
    width: 50%;
    background: url('https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=436&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}
.form{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
}
.tarjeta{
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    background-color: rgb(150, 93, 60);
    height: 75%;
    width: 60%;
}
.columna{
    display: flex;
    flex-direction: column;
}
input{
    margin: 0 0 50px;
    height: 30px ;
}
.btn_inicio{
    height: 30px;
    width: 20%;
    margin: auto;
    overflow: hidden;
}
.tituloinicio{
    margin: 0 0 50px 0;
    font-size:2vw ;
}
/*Menu*/
.bruce{
    background: url(https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center/cover no-repeat;
    height: 30vh;
}
.seccion_buscar{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.tarjetas{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}
.card-body{
    text-align: center;
}
.buscador{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#buscar{
    width: 60%;
}
/*Menu alumno*/
.l_alumno{
    background-color: rgb(207, 59, 59);
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 2rem;
    font-size: 1.5vw;
    width: 20vw;
    padding: 10px;
    margin: 40px auto;
}
.fondo2{
    width: 50%;
    background: url(https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)no-repeat center;
    background-size: cover;
}
/*Registro*/
.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2; }
.div7 { grid-area: 7 / 1 / 8 / 2; }
.div8 { grid-area: 8 / 1 / 9 / 2; }
.div9 { grid-area: 9 / 1 / 10 / 2; }

.registro{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.fila_label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 15px;
}
.fila_input {
    flex: 1;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
    width: 70%;
}
.registrar{
    margin: auto;
    width: 25%;
}
.titulo{
    background-color: rgb(134, 50, 50);
    color: rgb(219, 154, 70);
    text-align: center;
}
/*Calificar*/
.tabla_cal {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 50px;
}
.columna1 { grid-area: 1 / 1 / 2 / 2; }
.columna2 { grid-area: 1 / 2 / 2 / 3; }
.columna3 { grid-area: 1 / 3 / 2 / 4; }
.celda4 { grid-area: 2 / 1 / 3 / 2; }
.celda5 { grid-area: 2 / 2 / 3 / 3; }
.celda6 { grid-area: 2 / 3 / 3 / 4; }
.celda7 { grid-area: 3 / 1 / 4 / 2; }
.celda8 { grid-area: 3 / 2 / 4 / 3; }
.celda9 { grid-area: 3 / 3 / 4 / 4; }

.columna{
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid gray ;
}
.celda{
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid gray;
}

