*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#e6e6e6;
}
/*Inicio de sesion*/
.contenedor{
    display: flex;
    height: 100%;
}
.fondo{
    width: 50%;
    background: url('https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=436&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}
.form{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
}
.tarjeta{
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    background-color: rgb(150, 93, 60);
    height: 75%;
    width: 60%;
}
.columna{
    display: flex;
    flex-direction: column;
}
input{
    margin: 0 0 50px;
    height: 30px ;
}
.btn_inicio{
    height: 30px;
    width: 20%;
    margin: auto;
    overflow: hidden;
}
.tituloinicio{
    margin: 0 0 50px 0;
    font-size:2vw ;
}
/*Menu*/
.bruce{
    background: url(https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)center/cover no-repeat;
    height: 30vh;
}
.seccion_buscar{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.tarjetas{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}
.card-body{
    text-align: center;
}
.buscador{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#buscar{
    width: 60%;
}

/*Menu alumno*/
.l_alumno{
    background-color: rgb(207, 59, 59);
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 2rem;
    font-size: 1.5vw;
    width: 20vw;
    padding: 10px;
    margin: 40px auto;
}
.fondo2{
    width: 50%;
    background: url(https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)no-repeat center;
    background-size: cover;
}